@charset "UTF-8";
/* CSS Document */

#arrow {
	max-width: 196px;
	max-height: 82px;
}

#questionaire {
	background-color: aqua
}


body {
	background-color: white;
}

#main {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}